/* Global Styles */

:root {
  --title: 'COCOGOOSE', sans-serif;
  --text: montserrat, sans-serif;
  --nav-background: #3e3e3e;
  --remove-button: lightcoral;
  --add-button: #36b37f;
  --list-background: #f7f7f7;
  --test: fit-content;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: var(--text);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;

  /* outline: 1px solid red !important; */
}

/* Text Styles */

h1,
h3 {
  font-family: var(--title);
  font-size: 2.5rem;
}

li,
p,
button,
input {
  font-size: 1.6rem;
  font-family: var(--text);
}

.gray-line {
  height: 0.2rem;
  width: 5%;
  background-color: gray;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

/* Nav styles */

div.logo img {
  width: 20rem;
}

.nav-list {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.nav-item { padding: 0.5rem 0; }
.nav-item:not(:last-child) { padding-right: 4rem; }

/* header & footer styles */

header,
footer {
  display: flex;
  justify-content: space-around;
  width: 95%;
  min-height: 8vh;
  max-height: var(--test);
  padding: 2vh  2vw;
  margin: 0 2vw;
  background-color: var(--nav-background);
  flex-wrap: wrap;
}

header {
  border-radius: 0 0 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
}

footer {
  align-items: center;
  margin-top: auto;
  border-radius: 1rem 1rem 0 0;
  box-shadow: rgba(0, 0, 0, 0.07) 1px 0 2px, rgba(0, 0, 0, 0.07) 2px 0 4px, rgba(0, 0, 0, 0.07) 4px 0 8px, rgba(0, 0, 0, 0.07) 8px 0 16px, rgba(0, 0, 0, 0.07) 16px 0 32px, rgba(0, 0, 0, 0.07) 32px 0 64px;
}

header li,
footer p {
  color: white;
}

/* Layout Styles */

main {
  display: flex;
  min-height: calc(100vh - 16vh);
}

.book-list { display: flex; }
.add-section { display: none; }
.contact-section { display: none; }

main,
.book-list,
.add-section,
.contact-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-list,
.add-section,
.contact-section {
  width: 100%;
  gap: 1rem;
  padding: 3vh 2vw;
  min-height: calc(100vh - 40vh);
}

/* Actual time and date */

.date {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 4em 3em 0;
}

/* List and Form Styles */

.books {
  gap: 1rem;
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid rgb(165, 165, 165);
}

.book_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.book_card:nth-child(odd) {
  background-color: var(--list-background);
}

.book_card button {
  background-color: var(--remove-button);
}

.book_card button,
form.new_book button {
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.book_title {
  font-weight: bold;
  width: 80%;
}

.book_author {
  font-weight: normal;
}

/* Form Styles */

form.new_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

#book-title,
#book-author {
  width: 30vw;
  height: 3rem;
  padding: 0.5rem;
  border: 1px solid #d0d9d4;
  border-radius: 0.5rem;
}

form.new_book button {
  background-color: var(--add-button);
}

/* Contact Styles */

#contact-info p:nth-child(3) {
  padding: 1rem;
}

#contact-info li {
  padding: 0.4rem 0;
}

#contact-info a {
  color: #36b;
}
